* {
    box-sizing: border-box;
}

:root {
    --light-blue-color: #40aed7;
    --light-gray-color: #e4e4e4;
    --font-family-georgia: 'Georgia';
    --font-orange-color: orange ;
    
}

a {
    text-decoration: none;
}

body {
    font-family: Georgia;
}

/*<============Logo=============>*/

header {
    border-top:5px solid #40aed7 ;
    background-color: #000;
}

header h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
    font-size: 28px;
    margin-top: 43px;
}

header h4 {
    color: #fff;
    font-size: 11px;
    margin-bottom: 0;
    margin-bottom: 43px;
}

/* <==============Menu===============>*/


.col-md-9 {
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu {
    
}


.menu ul {
    margin-bottom: 0;
    align-items: center;
}


.menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 41px;

}

.menu li:first-child {
    margin-left: 0;
}
.col-md-9 ul li:first-child > a{
    padding: 12px 20px;
    background-color: var(--light-blue-color);
    border-radius: 16px;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    /* padding: 12px 20px; */

}



/*<====================Massive title==================>*/


.massive-title{
    word-break: break-word;

}

.massive-title h1 {
    font-size: 124px;
    color: #000;
    margin-bottom: 54px;
    margin-right: 93px;
    word-break: break-word;


}

/*<===================Block element====================>*/

.block-element {
    border: 1px solid var(--light-gray-color);
    margin: auto;
    text-align: center;
    /* margin-bottom: 10px; */
    padding: 0 0;
}

.block-element img {
    margin-top: 20px;
}

.block-element h3 {
    margin-top: 17px;
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
}

.block-element p {
    font-size: 12px;
    margin: 31px 25px 31px 11px;
    color: #000;
    font-family: Garamond;

   
}

div > div:nth-child(2) > div:nth-child(2) > div {
    background-color: #40aed7;
}


div > div:nth-child(2) > div:nth-child(2) > div > h3 {
    color: #fff;

}


div > div:nth-child(2) > div:nth-child(2) > div > p {
    color: #fff;

}


/*<=============Meet our team===============>*/

.meet-our-team h1 {
    font-size: 124px;
    color: #d3d3d3;
    text-align: center;
    margin-top: 70px;


}


/*<==================Name Goes Here================>*/


.name-goes-here {

}

.name-goes-here > div {
    color: #fff;
}

.flex-bg {
    width: 100%;
    height: 225px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.name-goes-here p {
    font-family: var(--font-family-georgia);
    color: #979797;
}

.name-goes-here h3 {
    font-size: 16px;
    text-transform: capitalize;
}

.flex-a {
    display: flex;
    justify-content: end;
}

i.ti-angle-double-right {
    /* width: 5px;
    height: 5px; */
    font-size: 10px;

    
}


/*<=============Footer=============>*/


footer {
    background-color: #303030;
}
.title {

}

.title h3 {
    font-size: 16px;
    color:#fff;
    text-transform: capitalize;
    font-family: var(--font-family-georgia);
    margin-bottom: 0;
    margin-top: 40px;
    margin-bottom: 33px;

}

.title h4 {
    font-size: 13px;
    color: #979797;
    text-transform: capitalize;
    font-family: var(--font-family-georgia);
    margin-bottom: 0;
    margin-top: 17px;

}

.title h5 {
    font-size: 10px;
    color: #979797;
    font-family: var(--font-family-georgia);
    margin-bottom: 0;
    margin-top: 12px;
}


.title>h5 > span:first-child {
    color: var(--light-blue-color);
}

.title>h5 > span:last-child {
    color: #979797;
}

.title p {
    color: #979797;
    font-family: var(--font-family-georgia);
    font-size: 13px;
    margin-bottom: 0;
    margin-top:  15px;
}

.title a {
    font-size: 13px;
    color: var(--light-blue-color);
    text-transform: capitalize;
}

.title a i {
    font-size: 8px;
}

.title ul {
    padding-left: 0;
    margin-bottom: 0;
}


.title ul li {
    list-style-type: none;
    border-bottom: 1px solid #404040;
}

.title > ul > li > a > i { 
    margin-right: 5px;
}


.title p {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

.title p a {
    color: var(--light-blue-color);
    text-transform: none;
}

/* Col 4 */




.title form input,textarea {
    background-color: #222;
    border: none;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
    color: #fff;
}

.title textarea{
    height: 79px;
}


.title button {
    background-color: #40aed7;
    margin-bottom: 40px;
}


/*<====================End================>*/

.end {
    background-color: #2b2b2b;
}
.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright h4 {
    font-size: 13px;
    color: #979797;
    margin: 23px 0;

}












